<?xml version='1.0' encoding='utf-8'?>
<widget id="ws.wigo.geotrail" 
    version="1.1.020" xmlns="http://www.w3.org/ns/widgets" 
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
    xmlns:gap="http://phonegap.com/ns/1.0"
    <name>GeoTrail</name>
    <description>
        A Cordova application for viewing trail map online or offline.
    </description>
    <author email="bob.schomburg@wigo.ws" href="http://cordova.io">
        WIGO Dev Team
    </author>
    <!-- PhoneGAp Build seems to always used index.html for content 
    <content src="Trail2.html" />
    -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <!--android platform not used for PhoneGap Build 
    <icon platform="android" src="res/android/geotrail512x512.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    -->
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- ////Exmamples for plugins 
        <plugin name="cordova-plugin-example" spec="~2" /> 
        <plugin spec="https://github.com/apache/cordova-plugin-file.git#4.1.0" source="git" /> 
        -->
        <plugin name="cordova-plugin-dialogs" source="pgb" spec="1.1.1" />     
        <!-- cordova-plugin-file is installed by cordova-plug-in-file-transfer   
        <plugin name="cordova-plugin-file" source="pgb" spec="2.0.0" /> 
        --> 
        <plugin name="cordova-plugin-file-transfer" source="pgb" spec="1.1.0" /> 
        <plugin name="cordova-plugin-geolocation" source="pgb" spec="1.0.0" /> 
        <plugin name="cordova-plugin-vibration" source="pgb" spec="1.2.0" /> 
        <plugin name="org.apache.cordova.device-orientation" spec="0.3.11" source="pgb" />
        <plugin name="com.phonegap.plugin.statusbar" spec="1.1.0" source="pgb" />
        <!-- cordova-plugin-whitelist not found. 
        <plugin name="cordova-plugin-whitelist" source="pgb" spec="1.1.0" />
        -->
        <!--  ////20161001 try using from github directly
        <gap:plugin name="com.phonegap.plugins.facebookconnect" version="0.9.0">
            <param name="APP_ID" value=" 694318660701967" />
            <param name="APP_NAME" value="Wigo­G­e­o­T­rail" />
        </gap:plugin>
        -->
        <!-- $$$$ fix here, source=git, spec=0.12.0, params? -->
        <plugin name="com.phonegap.plugins.facebookconnect" >
            spec="https://github.com/tvhnet2014/pros-cordova-facebook.git source="git""
            <param name="APP_ID" value=" 694318660701967" />
            <param name="APP_NAME" value="Wigo­G­e­o­T­rail" />
        </plugin>

        <plugin spec="https://github.com/wnyc/cordova-plugin-wakeuptimer.git#1.0.1" source="git"/>
        <preference name="StatusBarOverlaysWebView" value="false" /> 
    </platform>
</widget>
