<?xml version='1.0' encoding='utf-8'?>
<widget id="ws.wigo.geotrail" version="1.1.019" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>GeoTrail</name>
    <description>
        A Cordova application for viewing trail map online or offline.
    </description>
    <author email="bob.schomburg@wigo.ws" href="http://cordova.io">
        WIGO Dev Team
    </author>
    <content src="Trail2.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <!-- ////20160703 android platform not used 
    <icon platform="android" src="res/android/geotrail512x512.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    -->
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- ////Exmamples for plugins 
        <plugin name="cordova-plugin-example" spec="~2" /> 
        <plugin spec="https://github.com/apache/cordova-plugin-file.git#4.1.0" source="git" /> 
        -->
        <plugin name="cordova-plugin-file" source="pgb" spec="2.0.0" /> 
    </platform>
    <!-- ////20160703 Redo for PhoneGap Build in cloud 
    <plugin name="cordova-plugin-file" spec="~2.0.0" />
    <preference name="AndroidPersistentFileLocation" value="Compatibility" />
    -->



</widget>
